<div class="container">
    <div class=" card shadow mb-4">
        <div class="card">
            <table>
                <thead>
                    <tr>
                        <th>Liste des produit</th>
                    </tr>
                </thead>
                <tbody *ngFor="let produit of produits">
                    <tr>
                        <td>{{produit}}</td>
                    </tr>

                </tbody>
            </table>
            
        </div>

    </div>

</div>